<!doctype html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166351312-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-166351312-1');
    </script>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/components.js"></script>
  <title>Pay - Sen House of Children</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>

<body>
  <x-navbar active="/fees"></x-navbar>
  <div id="bdy">
    <%- include('pannel', {name,enroll,cls}); %>
    <br/>
    <br/>
  <div class="container center-col">
   <div class="ink-primary size-l base-semibold"><%= payName %></div>
   <div class="ink-red size-s base-regular">₹ <%= amount %></div>
   <br/>
   <form method="post" action="<%=url%>" name="paytm">
    <%for(var x in payload){%>
			<input type="hidden" name="<%=x%>" value="<%=payload[x]%>">
		<%}%>
          <input type="hidden" name="CHECKSUMHASH" value="<%=hash%>">
 </form>
 <div><div id="done" class="button green rounded ink-white">Proceed To Pay</div></div>
  </div>
  <br/>
  </div>
  <x-footer></x-footer>
</body>
<script type="text/javascript">
  document.getElementById("done").addEventListener("click",function(){
  document.paytm.submit();  
  })
</script>
</html>
<style>
  #bdy {
    min-height: 85vh;
    width: 100%;
  }

</style>